<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.op.total.domain.UserRepository">
  <select id="getUsers" resultType="java.util.HashMap">
    SELECT * FROM user;
  </select>
  <select id="getLogs" resultType="java.util.HashMap">
    SELECT * FROM log;
  </select>
  <insert id="insertLog" parameterType="String">
    insert into log(email, join_date) values (#{email}, now())
  </insert>
</mapper>