<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.op.total.domain.UserRepository">
  <select id="getUsers" resultType="java.util.HashMap">
    SELECT email, nm, grade, num FROM user;
  </select>
  <select id="getLogs" resultType="java.util.HashMap">
    select nm, l.email, grade, num, join_date from log l inner join user u on l.email = u.email;
  </select>
  <select id="getNowLogs" resultType="java.util.HashMap">
    select nm, l.email, grade, num, join_date from log l inner join user u on l.email = u.email where join_date like concat(DATE_FORMAT(now(), '%Y-%m-%d'), '%');
  </select>
  <select id="checkStudent" parameterType="String" resultType="java.util.HashMap">
    select * from user where email = #{email} and pw = #{pw};
  </select>
  <select id="checkInsertStudent" parameterType="String" resultType="java.util.HashMap">
    select * from user where email = #{email};
  </select>
  <select id="checkToDayLog" parameterType="String" resultType="java.util.HashMap">
    select * from log where email = #{email} and join_date like concat(DATE_FORMAT(now(), '%Y-%m-%d'), '%');
  </select>
  <select id="checkAdmin" parameterType="String" resultType="java.util.HashMap">
    select * from teacher where email = #{email} and adminKey = #{adminKey};
  </select>
  <insert id="insertLog" parameterType="String">
    insert into log(email, join_date) values (#{email}, now())
  </insert>
  <insert id="insertStudent" parameterType="io.op.total.vo.Student">
    insert into user values (#{email}, #{pw}, #{nm}, #{grade}, #{class_num}, #{num});
  </insert>
</mapper>