<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.op.total.domain.UserRepository">
  <select id="getUsers" resultType="java.util.HashMap">
    SELECT email, nm, grade, num FROM student;
  </select>
  <select id="getLogs" resultType="java.util.HashMap">
    select nm, l.email, grade, num, join_date from log l inner join student u on l.email = u.email;
  </select>
  <select id="getNowLogs" resultType="java.util.HashMap">
    select nm, grade, class, num, phone, onlineFlag, time(join_date) as time from log l inner join student u on l.email = u.email where join_date like concat(DATE_FORMAT(now(), '%Y-%m-%d'), '%');
  </select>
  <select id="getNowNotLogs" resultType="java.util.HashMap">
    select st.nm, grade, class, num, phone, onlineFlag from student st left outer join (select l.email, nm, time(join_date) as time from log l inner join student s on l.email = s.email where join_date like concat(DATE_FORMAT(now(), '%Y-%m-%d'), '%')) lo on st.email = lo.email where lo.email is null;
  </select>
  <select id="getClassNowLogs" parameterType="int" resultType="java.util.HashMap">
    select nm, grade, class, num, phone, onlineFlag, time(join_date) as time from log l inner join student s on l.email = s.email where join_date like concat(DATE_FORMAT(now(), '%Y-%m-%d'), '%') and grade = #{grade} and class = #{class_num};
  </select>
  <select id="getClassNotNowLogs" parameterType="int" resultType="java.util.HashMap">
    select st.nm, grade, class, num, phone, onlineFlag from student st left outer join (select l.email, nm, time(join_date) as time from log l inner join student s on l.email = s.email where join_date like concat(DATE_FORMAT(now(), '%Y-%m-%d'), '%') and grade = #{grade} and class = #{class_num}) lo on st.email = lo.email where lo.email is null and st.grade = #{grade} and st.class = #{class_num};
  </select>
  <select id="checkStudent" parameterType="String" resultType="java.util.HashMap">
    select * from student where email = #{email} and pw = #{pw} and phone = #{phone};
  </select>
  <select id="checkInsertStudent" parameterType="String" resultType="java.util.HashMap">
    select * from student where email = #{email};
  </select>
  <select id="checkOnline" parameterType="String" resultType="java.util.HashMap">
    select onlineFlag from student where email = #{email};
  </select>
  <select id="checkToDayLog" parameterType="String" resultType="java.util.HashMap">
    select TIME_FORMAT(join_date, '%h:%i:%s') as time from log where email = #{email} and join_date like concat(DATE_FORMAT(now(), '%Y-%m-%d'), '%');
  </select>
  <select id="checkAdmin" parameterType="String" resultType="java.util.HashMap">
    select * from teacher where email = #{email} and adminKey = #{adminKey};
  </select>
  <insert id="insertLog" parameterType="String">
    insert into log(email, join_date) values (#{email}, now())
  </insert>
  <insert id="insertStudent" parameterType="io.op.total.vo.Student">
    insert into student values (#{email}, #{pw}, #{nm}, #{grade}, #{class_num}, #{num}, #{phone});
  </insert>
</mapper>